<div class="background fixed" id="landing_background">
  <div class="container flex main">
    <div class="landing_action flex">
      <div class="center">
        <h1 class="block top_bottom">
          HippoHipster
        </h1>
        <h3 class="block top_bottom">
          <p>Automated playlists of bands playing in your area.</p>
          <p>Pick your favorite music genres and you're done.</p>
        </h3>
        <form action="/oauth" method="get" class="block top_bottom">
          <input class="btn btn-default" type="submit" value="Start Listening">
        </from>
      </div>
    </div>
  </div>
<div class="background">
